@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

body {
  font-family: "Pretendard", sans-serif;
}

.ant-input-outlined:hover {
  border-color: #0f47af !important;
  background-color: #ffffff !important;
}
